{% extends 'base.html' %}


{% block content %}
    <h1 class="naslov">Da Danijela testira :)</h1>


        <div class="container text-center kontejner">
          <div class="row">
            <div class="col">
              <a href="/blizanci" onclick="showSpinner()" class="btn btn-primary dugme">Blizanci</a>
            </div>
            <div class="col">
              <a href="/vodolija" class="btn btn-primary dugme">Vodolija</a>
            </div>
            <div class="col">
              <a href="/lav" class="btn btn-primary dugme">Lav</a>
            </div>
            <div class="col">
              <a href="/bik" class="btn btn-primary dugme">Bik</a>
            </div>
          </div>
        </div>




{% endblock %}
