
<nav class="navbar navbar-expand-lg py-3">
    <div class="pe-lg-0 ps-lg-5 container-fluid justify-content-between">
        <a class="navbar-brand " href="/">
            <h4>Horoskop</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="nav_left d-lg-flex align-items-center">
                <nav>
                    <div class="nav d-block d-lg-flex nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link" href="{{ url_for('index') }}" role="tab" aria-selected="true">Početna</a>
{#                        <a class="nav-link" href="{{ url_for('about') }}" role="tab" aria-selected="false">Znakovi</a>#}
{#                        <a class="nav-link" href="{{ url_for('timing') }}" role="tab" aria-selected="false">Timing</a>#}
{#                        <a class="nav-link" href="{{ url_for('courses') }}" role="tab" aria-selected="false">Courses</a>#}
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle nav-link" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Znakovi
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Ovan</a></li>
                                <li><a class="dropdown-item" href="#">Bik</a></li>
                                <li><a class="dropdown-item" href="#">Blizanci</a></li>
                                <li><a class="dropdown-item" href="#">Rak</a></li>
                                <li><a class="dropdown-item" href="#">Lav</a></li>
                                <li><a class="dropdown-item" href="#">Devica</a></li>
                                <li><a class="dropdown-item" href="#">Vaga</a></li>
                                <li><a class="dropdown-item" href="#">Škorpija</a></li>
                                <li><a class="dropdown-item" href="#">Strelac</a></li>
                                <li><a class="dropdown-item" href="#">Jarac</a></li>
                                <li><a class="dropdown-item" href="#">Vodolija</a></li>
                                <li><a class="dropdown-item" href="#">Ribe</a></li>
{#                                <li><hr class="dropdown-divider"></li>#}
{#                                <li><a class="dropdown-item" href="#">Opcija 3</a></li>#}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>
