{% extends 'base.html' %}

{% block title %}
     {{ znak.znak }}
{% endblock %}


{% block content %}

    <div class="card text-bg-light mb-3" style="max-width: 550px;margin: 20px auto;">

      <div class="card-header"><h3>{{ znak.znak }}</h3></div>

      <div class="card-body">

        <h6 class="card-title">Osnovne karakteristike</h6>
        <ul class="list-group" style="margin-bottom: 20px;">
            <li class="list-group-item"><strong>Element:</strong> {{ znak['osnovne-karakteristike']['Element'] }}</li>
            <li class="list-group-item"><strong>Kvalitet:</strong> {{ znak['osnovne-karakteristike']['Kvalitet'] }}</li>
            <li class="list-group-item"><strong>Vladajuća planeta:</strong> {{ znak['osnovne-karakteristike']['Vladajuća planeta'] }}</li>
            <li class="list-group-item"><strong>Vrline:</strong> {{ znak['osnovne-karakteristike']['Vrline'] | join(', ') }}</li>
            <li class="list-group-item"><strong>Mane:</strong> {{ znak['osnovne-karakteristike']['Mane'] | join(', ') }}</li>
            <li class="list-group-item"><strong>Voli:</strong> {{ znak['osnovne-karakteristike']['Voli'] | join(', ') }}</li>
            <li class="list-group-item"><strong>Ne voli:</strong> {{ znak['osnovne-karakteristike']['Ne voli'] | join(', ') }}</li>
            <li class="list-group-item"><strong>Poznati {{ znak.znak }}:</strong> {{ znak['osnovne-karakteristike']['Poznati'] | join(', ') }}</li>
        </ul>

        <h6 class="card-title">Karakteristike i lične osobine</h6>
        <p class="card-text">{{ znak['karakteristike']['opis'] }}</p>

        <h6 class="card-title">{{ znak.znak }} u ljubavi</h6>
        <p class="card-text">{{ znak['karakteristike']['ljubav'] }}</p>

          <h6 class="card-title">{{ znak.znak }} i karijera</h6>
        <p class="card-text">{{ znak['karakteristike']['karijera'] }}</p>

          <h6 class="card-title">{{ znak.znak }} i prijatelji i porodica</h6>
        <p class="card-text">{{ znak['karakteristike']['prijatelji_i_porodica'] }}</p>

           <h6 class="card-title">{{ znak.znak }} i zdravlje</h6>
        <p class="card-text">{{ znak['karakteristike']['zdravlje'] }}</p>

           <h6 class="card-title">{{ znak.znak }} i slaganje sa drugim znakovima</h6>
        <p class="card-text">{{ znak['karakteristike']['slaganje'] }}</p>

      </div>

    </div>
{% endblock %}



