<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ znak.znak }}</title>
</head>
<body>
    <h1>{{ znak.znak }}</h1>
    <h2>Osnovne karakteristike</h2>
    <ul>
        <li><strong>Element:</strong> {{ znak['osnovne-karakteristike']['Element'] }}</li>
        <li><strong>Kvalitet:</strong> {{ znak['osnovne-karakteristike']['Kvalitet'] }}</li>
        <li><strong>Vladajuća planeta:</strong> {{ znak['osnovne-karakteristike']['Vladajuća planeta'] }}</li>
        <li><strong>Vrline:</strong> {{ znak['osnovne-karakteristike']['Vrline'] | join(', ') }}</li>
        <li><strong>Mane:</strong> {{ znak['osnovne-karakteristike']['Mane'] | join(', ') }}</li>
        <li><strong>Voli:</strong> {{ znak['osnovne-karakteristike']['Voli'] | join(', ') }}</li>
        <li><strong>Ne voli:</strong> {{ znak['osnovne-karakteristike']['Ne voli'] | join(', ') }}</li>
        <li><strong>Poznati {{ znak.znak }}:</strong> {{ znak['osnovne-karakteristike']['Poznati'] | join(', ') }}</li>

    </ul>

    <h2>Karakteristike i lične osobine</h2>
    <p>{{ znak['karakteristike']['opis'] }}</p>

    <h2>{{ znak.znak }} u ljubavi</h2>
    <p>{{ znak['karakteristike']['ljubav'] }}</p>

    <h2>{{ znak.znak }} i karijera</h2>
    <p>{{ znak['karakteristike']['karijera'] }}</p>

    <h2>{{ znak.znak }} i prijatelji i porodica</h2>
    <p>{{ znak['karakteristike']['prijatelji_i_porodica'] }}</p>

    <h2>{{ znak.znak }} i zdravlje</h2>
    <p>{{ znak['karakteristike']['zdravlje'] }}</p>

    <h2>{{ znak.znak }}i slaganje sa drugim znakovima</h2>
    <p>{{ znak['karakteristike']['slaganje'] }}</p>
</body>
</html>

